{% extends "base.html" %}

{% block content %}
{% load static %}
<main id="tutorial">
    <div class="tutorial_end_box">
        <div class="tutorial_end_item">
            <a href="{% url 'index' %}"><div class="close-button">✕</div></a>
        </div>
    </div>
    <h1>Netaとは</h1>
    <p><span class="color_Net">Net</span><span class="color_a">a</span>(
        <span class="color_netta">ねった</span>)とは、<span class="color_Net">Net</span>で<span class="color_a">a</span>quariumライフを充実させ
        <span class="color_netta">ねった</span>いぎょへの理解を深めるために作られたアプリです。</p>
    <p>「この魚の飼育方法、ちょっとわからないけど…」というあなたも大歓迎！！</p>
    <p>Netaは、アクアリウム好きが集まって、それぞれの経験や情報をシェアし合う場所です。</p>
    <p>情報は間違ってもOK、ここでは気軽に自由に投稿できます！</p>
    <p>誰かの体験談や気づきが、あなたの熱帯魚の飼育のヒントになるかもしれません！</p>
    <p>そして、熱帯魚との暮らし方をみんなで探りながら、あなたもワクワクするアクアリウムライフをシェアしてみませんか？</p>
    <p>気軽にあなたの熱帯魚エピソードや発見を投稿して、Netaでアクアリウム仲間とみんなで楽しみましょう！</p>
</main>
{% endblock %}