{% extends "base.html" %}
{% block content %}
{% load static %}
<main style="padding: 0 15px;">
    <h2 style="padding-top: 40px;">検索（検索結果）</h2>
    <div class="center">
        <form method="post" action="{% url 'search_fish_info' %}">
            {% csrf_token %}
            <div class="center" style="flex-wrap: wrap; align-items: center;">
                <input type="text" name="q" value="{{ query }}" placeholder="魚の名前を入力してください" style="width: 250px; height: 30px; margin-right: 10px;">
                <select name="category" style="height: 30px; margin-right: 10px;">
                    <!-- カテゴリの選択肢 -->
                    {% for id, name in CATEGORY_CHOICES %}
                    <option value="{{ id }}" {% if id == category %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="max_size" value="{{ max_size }}" placeholder="〇〇ｃｍ以下" style="width: 100px; height: 30px; margin-right: 10px;">
                <input type="number" name="min_size" value="{{ min_size }}" placeholder="〇〇ｃｍ以上" style="width: 100px; height: 30px; margin-right: 10px;">
                <!-- ...その他のフィールド... -->
                <button type="submit" class="button_css" style="width: 100px;">検索</button>
            </div>
        </form>
    </div>

    {% if fish_info_search %}
    <section class="list_image">
        <div class="list_image_box">
            {% for fish_info in fish_info_search %}
                <a href="{% url 'fish_info' fish_info.id %}">
                {% if fish_info.preview %}
                <div class="list_image_item">
                    <div>
                        <div>{{ fish_info.name }}</div>
                        <img src="{{ fish_info.preview.url }}" alt="{{ fish_info.name }}" width="100%">
                    </div>
                </div>
                {% endif %}
                </a>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <div class="center">
        <p>{{ error }}</p>
    </div>
    {% endif %}
</main>
{% endblock %}
